<form name='agdefaultshop' class="form-horizontal" method="post">
	<div class='tab-pane' id="tabHelp">
		<div class='panel'>
			{include file=$modules_path|cat:"agcliente/views/templates/hook/includes/tab_help.tpl"}
		</div>
	</div>
</form>